*{
    margin:0;
    padding:0;
    font-family:Arial;
    border:border-box;

}

.navbar{
    height:60px;
    background-color: #0F1111;
    color:white;
    display: flex;
    align-items: center;
     justify-content: space-evenly;
    
}
.logo{
    background-image: url("https://th.bing.com/th?id=OIP.T6UN4S8JqRmh_9o-nQ7M4gHaEk&w=318&h=196&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-size:cover;
    height:40px;
    width:100%;
    margin-top:5px;
}
.nav-logo{
    height: 50px;
    width:110px;

}
.border{
    
    border:2px solid transparent;
    
}
.border:hover{
    border:2px solid white; 
}


.add-1{
    
    color:#cccccc;
    font-size:12px;
    margin-left:15px
}
.add-2{
    
    font-size: 1rem;
   margin-left:3px;
}
.add-icon{
   
    color:#ffff;
    display:flex;
    align-items: center;
    /* justify-content: center; */

}
.search-nav{
    display: flex;
    height:40px;
    background-color:rgb(154, 150, 121);
    width:50%;
   border-radius: 4px;

}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
    background-color: #f3f3f3;

}
.search-input:hover{
    border:1px solid orange;
}
.search-select{
    width:50px;
    text-align:center;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-icon{
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color:#0f1111
}
.sign1{
    color:#f3f3f3;
    font-size: .7rem;
    font-weight: 700;
}
.sign2{
    font-size:.85rem;
    font-weight: 700;
}
.cart{
    font-size: .85rem;
    display:flex;
    align-items: center;
}
.cart i{
   font-size: 30px;
   
}
.panel{
    height: 40px;
    background-color: #2a3644;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    color:white;
    font-style:Arial;
}
.panel-op{
    display: flex;
    font-weight: 500;
    font-size: 14px;

}
.panel-op p{
    padding:8px 9px ;
}
.menu{
    font-weight: 700;
    padding:8px 9px ;
    
}
 .menu i{
    font-size:18px;
}
.hero-section{
    background-image:url("https://m.media-amazon.com/images/I/61P7hqIHrdL._SX3000_.jpg");
    background-size: cover;
    height:300px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.hero-msg{  
background-color: white;
color:black;
height:40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
width:80%;
margin-bottom: 25px;
}
.hero-msg a{
    color:#007185;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: #e2e7e6;

}
.box{
    border:2px solid black;
    height: 350px;
    width: 22%;
    background-color: white;
    padding:20px 0px 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
}
.box-content{
    margin-left: 10px;
    margin-right:10px;
}
.foot-panel-1{
    padding-top: 10px;
    height:50px;
    width:100%;
    color:white;
    background-color: #495a6c;
    margin-top:5px;
    display:flex;
    justify-content:center;
}
.foot-panel-2{
    height:400px;
    background-color: #2a3644;
    /* margin-top:2px; */
    display: flex;
    padding-top: 10px;
    font-size:large;
    color:cadetblue;

}
.foot-panel-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color:  #495a6c;
}
.logo-2{
    background-image: url("https://th.bing.com/th?id=OIP.T6UN4S8JqRmh_9o-nQ7M4gHaEk&w=318&h=196&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    background-size: cover;
    width:120px;
    height: 50px;
}
.foot-panel-4{
    height: 50px;
    background-color: #495a6c ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}